release:
  replace_existing_artifacts: true

source: {}

checksum:
  name_template: 'checksums.txt'

{{if .HasChangelog}}
changelog:
  use: github
  sort: asc
  filters:
    exclude:
      - '^docs'
      - '^test'
      - '^chore'
      - Merge pull request
      - Merge branch
{{else}}
changelog:
  disable: true
{{end}}
