builds:
  - id: {{.ProjectName}}
    main: {{.MainPath}}
    binary: {{.BinaryName}}
    env:
      - CGO_ENABLED=0
    flags:
      - -tags=release
    goos:
      - linux
      - darwin
    goarch:
      - amd64
      - arm64
    ldflags:
      - -s -w
      - -X main.buildCommit={{ "{{" }}.Commit{{ "}}" }}
      - -X main.buildDate={{ "{{" }}.Date{{ "}}" }}
      - -X main.buildVersion={{ "{{" }}.Version{{ "}}" }}

universal_binaries:
  - ids:
      - {{.ProjectName}}
    replace: true
