version: 2

{{template "goreleaser-before.tmpl" .}}

{{template "goreleaser-builds.tmpl" .}}

{{template "goreleaser-packaging.tmpl" .}}
{{if .HasDocker}}
{{template "goreleaser-docker.tmpl" .}}
{{end}}
{{template "goreleaser-release.tmpl" .}}
